[project]
	description = Fichier du rapport du cas flux de l'UV GE37
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/POUILLAUDE (MathuxNY-73)
[access "refs/for/refs/*"]
	read = group user/POUILLAUDE (MathuxNY-73)
	push = group user/POUILLAUDE (MathuxNY-73)
	label-Code-Review = -2..+2 group user/POUILLAUDE (MathuxNY-73)
	label-Verified = -1..+1 group user/POUILLAUDE (MathuxNY-73)
	rebase = group user/POUILLAUDE (MathuxNY-73)
	removeReviewer = group user/POUILLAUDE (MathuxNY-73)
	submit = group user/POUILLAUDE (MathuxNY-73)
[access "refs/heads/*"]
	read = group user/POUILLAUDE (MathuxNY-73)
	create = group user/POUILLAUDE (MathuxNY-73)
	push = +force group user/POUILLAUDE (MathuxNY-73)
	pushMerge = group user/POUILLAUDE (MathuxNY-73)
[access "refs/tags/*"]
	push = +force group user/POUILLAUDE (MathuxNY-73)
	pushTag = group user/POUILLAUDE (MathuxNY-73)
	pushSignedTag = group user/POUILLAUDE (MathuxNY-73)
